body{
    background-image: url("image/kamejpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: "digital-7", Monteserrat, Arial, sans-serif;
    padding:0;
    margin:0;

}
@font-face {
    font-family: "digital-7";
    src: url("./font.ttf");
}
.headers{
    height:60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
}
.reset{
    background: black;
    color: white !important;
    font-weight: 700;
    border-color: black;
    outline: none !important;
}
.reset:hover, .reset:active, .reset:focus{
    background: white;
    color: black !important;
}

.value{
    border-bottom: 1px dotted black;
}
.label{
    color: black;
}
.card-container{
    display: inline-block;
    margin-top: 2em;
}
.card{
    position: relative;
    float: left;
    height: 130px;
    width: 100px;
}
.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
}
.back{
    background-size: 100% 100%;
    border-radius: 15px;
}
.front{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.flipped{
    display: none;
}
.hintContainer {
    margin-top: 2em;
    text-align: center;
}
span.hints {
    font-size: 2em;
    font-weight: 700;
    color: black;
}
.radar{
    background-image: url("image/dbzside.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 102.99%;
    width: 100%;
}
.highScore {
    position: absolute;
    top: 1em;
    font-size: 1.5em;
    font-weight: 700;
    color: black;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.scouter{
    height: 200px;
    display: flex;
    width: 100%;
    background: url("image/scout.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.scouterText{
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 2em;
}
.modal-title{
    font-size: 2em;
}
.modal-content{
    text-align: center;
}
.modal-body{
    font-size: 1.5em;
}
iframe {
    width: 100%;
}
.playAgain {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}
.playAgain.active, .playAgain:active, .show>.playAgain.dropdown-toggle, .playAgain:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.playAgain:focus {
    box-shadow: 0 0 0 3px rgba(52,58,64,.5);
}

.closeModal {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}
.closeModal.active, .closeModal:active, .show>.closeModal.dropdown-toggle, .closeModal:hover  {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.closeModal.focus, .closeModal:focus {
    box-shadow: 0 0 0 3px rgba(220,53,69,.5);
}


.logo{
    background-image: url("image/dbzheader.png");
    background-repeat: no-repeat;
    background-size: contain;
    /*height: 100%; tonight*/
    height: 17vh;
    width: 50%;
    margin-left: 100px;
    /*width: 100%;tonight*/
}

#alertBox{
    display: none;
}
.ifSmall{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*mobile*/
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait){
    .headers{
        font-size:1em;
    }
    /*.checkRes{*/
        /*height: 90vh;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    /*}*/
    /*.sizeP{*/
        /*padding: 0 10px;*/
    /*}*/

    /*#alertBox{*/
        /*display: block;*/
    /*}*/

}
@media screen and (max-width: 767px){


}
/*@media screen and (min-width: 768px){*/

/*}*/
